body {
    font-family: 'Space Mono';
    color: white;
    text-align: center;
    margin: 0;
    /* min-height: 100%;
    width: 80vw;
    height: 80vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.69)), url('./images/4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}

#dateOfBirth {
    border-radius: 5px;
    padding: 4px 8px;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.buttonGenerateName {
    font-family: 'Space Mono';
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
    padding: 4px 8px;
}

.buttonGenerateName:hover {
  cursor: pointer;
}

.swiper {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  text-align: center;
  
}

.swiper-slide img {
  display: block;
  height: 100%;
}

.smoke_animation {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.401), rgba(0, 0, 0, 0.526)), url('./images/fog.png') repeat-x;
  background-size: 50% auto;
  background-position: 0 bottom;
  animation: fogAnimation 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fogAnimation {
  0%{ background-position: -100% bottom; }
  100%{ background-position: 0% bottom; }
}

